import {{name}}Controller from './{{name}}.controller';

const {{name}}View = (c: ReturnType<typeof {{name}}Controller>) => {

   return (
     <div>
       <h1>{{name}} View</h1>
     </div>
   );
};

export default {{name}}View;
