import {TUse{{name}}Controller} from './{{name}}.types';

const {{name}}View = (c: ReturnType<typeof Use{{name}}Controller>) => {

  return (
    <div>
     <h1>{{name}} View</h1>
    </div>
  );
};

export default {{name}}View;
