import Use{{name}}Model from './{{name}}.model';

const {{name}}View = (m: ReturnType<typeof Use{{name}}Model>) => {

   return (
      <div>
         <h1>{{name}} View</h1>
      </div>
   );
};

export default {{name}}View;
