import {TUse{{name}}Controller} from './{{name}}.types';

const {{name}}Component = (controller: TUse{{name}}Controller) => {

  return (
    <div>
     <h1>{{name}} Component</h1>
    </div>
  );
};

export default {{name}}Component;
